.announcement-content {
  max-height: 200px;
  font-family: Arial;
  overflow-y:auto;
  margin-bottom: 15px;
}

.announcement-content .announcement{
  padding-bottom:25px;
  font-size: 16px;
}

.announcement-content .title{
  font-weight: bold;
  padding-bottom:3px;
  display: inline-block;
}

.announcement-content .date {
  font-size: 14px;
  font-style: italic;
  padding-left: 30px;
}

.announcement-parent label{
  font-weight: bold;
  font-size: 14px;
  margin-left:10px;
}

.dijitDialogPaneContent {
  overflow:hidden !important;
}

.dijitDialog {
  height: 360px !important;
}

.esri-header-announcements {
  display: flex;
  -ms-flex-positive: 0;
  flex-grow: 0;
  position: relative;
}

.esri-header-announcements-control {
  background-color: transparent;
  border-width: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  padding: 0;
  display: block;
  cursor: pointer;
  -webkit-appearance: button;
  margin: 0;
  overflow: visible;
  text-transform: none;
}

.esri-header-announcements-image {
  display: block;
  fill: currentColor;
  margin: 16px;
  width: 24px;
  height: 24px;
}
